body {
  font-family: 'Quicksand';
  background-image: url('/stardust.png');
  background-color: azure;
}

header {
  text-align: center;
}

header .subhead {
  font-style: italic;
}

.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
}

.tweets-container {
  padding-left: 15%;
}

.tweets-container .tweet {
  margin-bottom: 1em;
}

.tweets-container .tweet .due-time {
  display: inline-block;
  width: 30%;
  padding-right: 10%;
}

.tweets-container .tweet .content {
  display: inline-block;
  width: 55%;
}