<div class="container">
  <header>
    <h1>
      <%= "See #{@username}'s tweets..." %>
    </h1>
    <h1 class="subhead">before they are tweeted</h1>
  </header>
  <% if @updates.any? %>
    <div class="tweets-container">
      <div class="post-times column">
        <% @updates.each do |update| %>
          <h3>
            <%= "#{update.day.downcase} at #{update.due_time}" %>
          </h3>
        <% end %>
      </div>
      <div class="content column">
        <% @updates.each do |update| %>
          <h3>
            <%= update.text_formatted %>
          </h3>
        <% end %>
      </div>
    </div>
  <% else %>
    <h3>
      <%= "Looks like #{@username} has no pending tweets" %>
    </h3>
  <% end %>
</div>