.container
  %header
    %h1="See #{@username}'s tweets..."
    %h1.subhead before they are tweeted
  - if @updates.any?
    .tweets-container
      -@updates.each do |update|
        .tweet
          %h3.due-time="#{update.day.downcase} at #{update.due_time}"
          %h3.content=update.text_formatted
  - else
    %h3="Looks like #{@username} has no pending tweets"
