<!DOCTYPE html>
<html></html>
<head>
  <link href="/css/normalize.css" rel="<%= :stylesheet %>"></link>
  <link href="/css/application.css" rel="<%= :stylesheet %>"></link>
  <link href="http://fonts.googleapis.com/css?family=Quicksand" rel="<%= :stylesheet %>" type="text/css"></link>
</head>
<body>
  <%= yield %>
</body>

